@media only screen and (max-width: 1300px) {

    #main nav p {
        left: auto;
    right: calc(100% + 20px) !important;}
    
    #main nav li::after {
    left: auto;
    right: calc(100% + 16px) !important;
    
    }
}
    @media only screen and (max-width: 1024px) {
    .list-date .date {
     padding: 5px 5px;
    }
}
@media only screen and (max-width: 990px) {
    /*  */
   .card-group .download_cv {
    padding: 30px 12px;
   }

}
@media only screen and (max-width: 850px) {
}
@media only screen and (max-width: 940px) {
    /* ------------logo------------- */
    header{
        background-color: #fff;
    }
    header h1 a {
    color: rgb(0, 0, 0);
}
    /*-----------------menu------------ */
    .wrap-group:nth-child(odd) {
    background: #f2f4ff;
}
    .container{
        padding: 0;
    }
    body::after{
        display: none;
    }
    body::before{
        display: none;
    }
    header ul{
        padding: 0;
    }
    header .container{
        padding:  0 15px;
    }
        header .container > nav{
        content: " ";
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        z-index: 50;   
        display: none;
    }
        #mask-menu{
        content: " ";
        position: fixed;
        display: none ;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: calc(100% - 300px);
        z-index: 100;   
    }
    header  #menu{ 
        position: absolute;
          padding: 10px;
           top: 0;
           right: -150%;
           z-index: 100 !important;
           background-color: rgb(255, 255, 255);
           min-height: 100%;
           height: auto;
           max-width: 300px;
           transition: all 0.2s;
           display: none;
           margin: 0;
       }
       header  #menu::before{
           position: absolute;

           display: flex;
           justify-content: center;
           align-items: center;
           font-family: "Font Awesome 5 Free"; 
           font-weight: 900;
            content: "\f00d";
            font-size: 15px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: white;
            color: #000;
            left: -42px;
            top: 20px;
       }
       header ul li {
   
            margin: 0 5px;
       }
        header nav #menu > li{
           display: block;
           padding: 10px ;
       }
       header nav #menu > li a{
           display: block;
           padding: 10px 0;
           text-align: center
       }
       header nav #menu > li a:hover{
           background-color: rgba(0, 0, 0, 0.397);
           color: #fff;
       }
    #bars {
           position: fixed;
           top: 20px;
           right: 20px;
            display: inline-block !important;
            padding:15px 15px;
            color: #000 !important;
            font-weight: 700 !important;
            background-color: #fff;
            border-radius: 50%;
            z-index: 50;
    }
    #menu-sidebar{
        display: block !important;
        background-color: #fff;
    }
    #menu-sidebar .recent-post *{
        color: #757575;
    }
     #menu-sidebar .pic-article {
        width: 40%;
    }
    #menu-sidebar .recent-post p{
        color: #757575;
    }
     #menu-sidebar .item-article h4{
         width: 55%;
     }
    #menu-sidebar form{
        position: relative;

    }
    #menu-sidebar form input {
    width: 100%;
    padding: 10px 15px;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    }
    #menu-sidebar button{
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid transparent;
        background-color: transparent;
    }

      #mask{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.397);
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 10;
        display: none;
    }
    #left-content .card {
    margin: 15px;
    padding: 30px 200px;
    }
    /* ---------------nav------------- */
    #main .container {
        flex-direction: column;
    }
     #main .container > nav{
         order: 1;
     }
     #main .container > #left-content{
         order: 2;
     }
     #main .container > #right-content{
         order: 3;
     }
     #main .container > nav li {
         display: inline-block;
    }
  #main .container > nav ul {
    max-width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
    #main .container > nav li {
    width: 50px;
    height: 50px;
    margin: 20px;
    }
    #main nav li::after {
        display: none !important;
    }
    #main nav p {
   display: none !important;

}
 #search_left{
     display: none;
 }
   
    /* ----------content----- */
    #main .container > nav li a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    }
    /* ----------content----- */
    #main #left-content {
        max-width: 100%;
    }
    #main #right-content {
        width: 100%;
    }
    .card-group .picture-group {
        max-width: 100%;
        max-height: 100%;
    width: 100%;
    height: auto;
    padding: 50px;
    overflow: hidden;
    }
    .card-group {
        margin-bottom: 0;
        box-shadow: 0 0 0 transparent;
        background-color: #fff;
    }
    .wrap-group {
        border: 0.1px solid transparent;
        border-bottom: 0.1px solid rgb(201, 201, 201);
        padding: 40px;
        margin-bottom: 0;
    }
    .wrap-group::after{
        display: none;
    }

    .list-date .date {
        padding: 5.5px 10px;
        margin: 10px 0;
    }
    .list-articles > .flex-center {
        margin-top: 20px;
    }
    .list-articles > .flex-center a{
        color: #000;
    }
    #fb{
        display: none;
    }
    .content-group {
    padding: 0;
    margin-top: 20px;
}
/* ---------img---------- */
#group-picture img {
    margin: 0 auto;
    padding: 0px;
}
/* -----description------- */
.item-article .description{
    display: block;
}

.links nav{

    border: 1px solid transparent;
    margin-top: 10px;
}
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 720px) {
}
@media only screen and (max-width: 640px) {
    /* --------skill------ */
    .list-item.flex-between{
        flex-direction: column;
    }
    .box{
        width: 100% !important;
    }
    .list-job{
        flex-direction: column;
    }
    /* experiecen */
    .list-date {
        width: 50%;
        padding-left: 20px;
        position: relative;
    }
    
    .list-date .date::after {
        content: "";
        position: absolute;
        border-right: 15px solid #223D72;
        border-left: 15px solid transparent;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        right: 100% !important;
        left: auto;
        top: 0;
    }
    .introduce-job::after {
        display: none;
    }

        .introduce-job {
        width: 100%;}
        .group-job .list-job:first-child .introduce-job::before {
        top:0;
    }
        .group-job .list-job:last-child .introduce-job::before {
        bottom: 15px;
    }
        
        .list-date::before {
        content: " ";
        position: absolute;
        background-color: #919eb9;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
    }
    /* contact */
    .contact{
        padding: 0;
        padding-bottom: 20px;

    }


    .wrap-group .list-item:first-child {
        margin-bottom: 0;

    }  .card-group .download_cv {
    padding: 15px 12px;
   }
     #left-content  .card {
    margin: 15px;
    padding: 30px 100px;
    }




}
@media only screen and (max-width: 600px) {
     header nav > ul > li a{
           display: block;
           padding: 5px 0;
           text-align: center
       }
       .wrap-group {
            padding: 20px;
        }
        #btn-container {
        padding: 0 15px;}

         .filter-div{
             height: 150px;
            }
            
            .filter-div:nth-child(1){
             height: 310px;
         }
         .btn-list {
            margin-right: 25px;
         }
         #other h2{
             margin-bottom: 0;
         }
         .information .flex-between{
             flex-direction: column;
         }
         .wrap-group .information h6 {
            margin: 5px 0;}
            /* scroll to top */
              #scroll-to-top div {
            height: 30px;
            width: 30px;
            border: 0;
            margin: 0;
            }
            #scroll-to-top{
                right: 0;
                margin-bottom: 0;

            }
            #social-contact div {
            height: 30px;
            width: 30px;
            }
}
@media only screen and (max-width: 568px) {
    /* --------card----- */
      .card-group .picture-group {
    padding: 10px;
    }
    .list-date {
    width: 70%;}
    #group-picture {
    margin: 25px 20px;}
      .filter-div .description-picture{
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;}
        #main .container > nav li {
            width: 30px;
            height: 30px;
            margin: 10px;
        }
        #main nav i {
            font-size: 16px;
        }
        .item-article .description{
    display: none;
}

     #left-content  .card {
    margin: 15px;
    padding: 30px 50px;
    }

}
@media only screen and (max-width: 563px) {
}
@media only screen and (max-width: 549px) {
}
@media only screen and (max-width: 534px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 414px) {
    
     #left-content  .card {
    margin: 15px;
    padding: 30px 30px;
    }
}
@media only screen and (max-width: 411px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 338px) {
}
@media only screen and (max-width: 330px) {
}
@media only screen and (max-width: 320px) {
}